.app-not-found {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.app-not-found h1 {
  font-size: 40vh;
  margin: 0;
  line-height: 1;
}
