.modal-outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}

.modal-outer.open {
  z-index: 999999;
  opacity: 1;
  pointer-events: all;
}

.modal {
  background: white;
  padding: 1rem;
  border-radius: 0 1rem 0 1rem;
}

.modal button,
.modal .button {
  margin-left: auto;
  display: block;
}
