@import "../variables";

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.radio-circle {
  width: 1em;
  height: 1em;
  border: 2px solid $primary-dark-color;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.radio-label {
  margin: 0;
}

.radio.radio-checked .radio-circle {
  background: $primary-color;
}
