table#cart-table {
    width: 100%;
}

table th {
    font-family: "Playfair Display", serif;
}

table#cart-table .pizza {
    max-width: 80%;
}

table#cart-table td {
    padding: 1rem 0;
}

p.cart-count-control {
    margin: 0.5rem auto;
    padding: 0.25rem;
    background: #ffbc0a;
    border-radius: 0.5rem;
    width: 1em;
    height: 1em;
    line-height: 1;
    cursor: pointer;
    font-weight: bold;
}

p.cart-count-value {
    margin: 0;
    font-weight: 700;
    height: 1em;
    min-width: 1em;
    display: inline-block;
    font-size: 1.25rem;
}

table#cart-table td.cart-pizza-td {
    width: 15%;
}

table#cart-table td.cart-count-td {
    padding: 1rem;
    text-align: center;
}
table#cart-table td.cart-price-td {
    text-align: center;
    width: 10%;
}

table#cart-table h4.font-pd {
    margin-bottom: 0;
}

table#cart-table p.pizza-ingredients {
    margin-top: 0.5rem;
}

table#cart-table .cart-price-td h4 {
    font-size: 1.3rem;
}

#cart-total-label {
    margin-top: 0;
}
