section {
    margin-bottom: 5rem;
}

#home-top-row {
    align-items: center;
}

#home-top-text {
    text-align: right;
}

#home-top-text h1 {
    color: $primary-dark-color;
    font-weight: 900;
    font-size: 5rem;
    margin: 0;
}

.section-header {
    width: 100%;
    height: 0.25rem;
    background: $primary-color;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.section-title {
    background: white;
    padding: 1rem 2rem;
    margin: -0.2em auto 0;
    font-size: 2rem;
    line-height: 0.7;
}

.new-pizza-inner {
    margin: 1rem;
    text-align: center;
    border-radius: 0 1rem 0 1rem;
    border: 1px solid #ffbc0a;
    padding: 2rem 2rem 1rem;
}

.new-pizza-title {
    margin-bottom: 0.5rem;
}

.new-pizza-price {
    margin: 0;
}

#home-new-pizzas {
    margin: 0 -1.5rem;
}

.advantage-icon {
    height: 4rem;
    margin: 2rem 0;
    background: #ffd801;
    border-radius: 0 1rem 0 1rem;
    padding: 1rem;
}

#home-all-pizzas {
    text-align: center;
    font-size: 1.25rem;
}

#home-all-pizzas-link {
    font-weight: 700;
}

.home-feedback {
    margin-bottom: 2rem;
}

.feedback-header {
    display: flex;
    align-items: center;
}

.feedback-user-data h5,
.feedback-user-data p {
    margin: 0;
}

.feedback-user-data h5 {
    font-size: 1.1rem;
}

.feedback-user-data p {
    color: #757575;
    font-size: 0.9rem;
    line-height: 1;
    padding-top: 0.25em;
}

img.feedback-user-picture {
    width: 3rem;
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid #ffd801;
    border-radius: 0 1rem 0 1rem;
}

#home-contacts-map-iframe {
    border-radius: 0 1rem 0 1rem;
}
