.app-order-pay form {
  text-align: left;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0 1rem 0 1rem;
  border: 1px solid $muted-light-color;
  margin-top: 4rem;
}

.app-order-pay form h3 {
  margin: 0;
}

.app-order-pay form div:first-of-type {
  margin-top: 0;
}
