/* Colors */
$primary-color: #ffd700;
$primary-dark-color: #ffbc0a;
$accent-color: #f44336;
$muted-color: grey;
$muted-light-color: lightgrey;

/* Fonts */
$main-font: "PT Sans", sans-serif;
$accent-font: "Roboto Mono", monospace;
