@import "./variables";

footer {
  background: $primary-dark-color;
  padding: 1rem;
}

footer .row {
  align-items: center;
}

footer a {
  color: black;
  text-decoration: underline;
}

footer h2 {
  margin: 0;
}
