@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Playfair+Display:wght@400;700;900&display=swap");
@import "./variables";

body {
  margin: 0;
}

body,
.font-pt-sans {
  font-family: "PT Sans", sans-serif;
}

h1,
.font-serif {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid $primary-dark-color;
  display: inline-block;
}

a:hover {
  color: $primary-color;
}

a.button,
button {
  font: inherit;
  color: black;
  background: $primary-dark-color;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0 1rem 0 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

a.button:focus,
button:focus {
  outline: none;
}

a.button:not[disabled]:hover,
button:not[disabled]:hover {
  background: $primary-color;
}

a.button[disabled],
button[disabled] {
  background: lightgray;
}

a.button.small,
button.small {
  padding: 0.75rem 1rem;
}

button .icon,
a.button .icon {
  width: 1em;
  margin-right: 0.5rem;
}

li {
  list-style: none;
}

main {
  padding-top: 3rem;
}

h1.page-title {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.page-subtitle {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 3rem;
}

.border {
  border-radius: 0 1rem 0 1rem;
  border: 1px solid #cecece;
  padding: 1.5rem 1rem 1rem;
  margin: 1rem;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.row.with-border {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.color-accent {
  color: $accent-color;
}

.color-gray {
  color: #555;
}

.text-align-center {
  text-align: center;
}

p.link {
  color: $accent-color;
  cursor: pointer;
}

.label {
  margin-bottom: 0.5rem;
  display: inline-block;
  font-family: "Playfair Display";
}

.label + * {
  margin-top: 0;
}

form div {
  margin-top: 1rem;
}

form input,
form textarea {
  font: inherit;
  margin: 0;
  width: 100%;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

form input[type="number"] {
  width: auto;
}

form input:focus,
form textarea:focus {
  outline: none;
  border: 2px solid $primary-dark-color;
}

form textarea {
  resize: none;
}

form button,
form .button {
  display: block;
  margin: 1rem 0 0;
  width: 100%;
}

@import "./home";
@import "./pizza";
@import "./cart";
@import "./builder";
@import "./pizzas";
@import "./delivery";
@import "./pay";
@import "./orders";
