@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto+Mono:wght@300;400;700&display=swap");
@import "./library";

body {
  margin: 0;
  font-family: $main-font;
}

[class^="ymaps"] {
  font-family: $main-font !important;
}

main {
  padding-top: 3rem;
}

section {
  padding: 3rem 0 5rem;
}

h1 {
  font-family: $accent-font;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid $primary-dark-color;
  display: inline-block;
}

a.accent-color,
ymaps a {
  border-bottom: none;
}

a:not(.accent-color):not(.button):hover {
  color: $primary-color;
}

a.button,
button {
  font: inherit;
  color: black;
  background: $primary-dark-color;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0 1rem 0 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

a.button:focus,
button:focus {
  outline: none;
}

a.button:not([disabled]):hover,
button:not([disabled]):hover {
  background: $primary-color;
}

.primary-background,
.primary-dark-background {
  a:not(.accent-color):not(.button):hover {
    color: white;
  }
  a.button:not([disabled]):hover,
  button:not([disabled]):hover {
    background: white;
  }
}

a.button[disabled],
button[disabled] {
  background: $muted-light-color;
}

a.button.small,
button.small {
  padding: 0.75rem 1rem;
}

button .icon,
a.button .icon {
  width: 1em;
  margin-right: 0.5rem;
}

form div {
  margin-top: 1rem;
}

form input,
form textarea {
  font: inherit;
  margin: 0;
  width: 100%;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

form input[type="number"] {
  width: auto;
}

form input:focus,
form textarea:focus {
  outline: none;
  border: 2px solid $primary-dark-color;
}

form textarea {
  resize: none;
}

form button,
form .button {
  display: block;
  margin: 1rem 0 0;
  width: 100%;
}

h1.page-title {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.page-subtitle {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 3rem;
}

.border {
  border-radius: 0 1rem 0 1rem;
  border: 1px solid $muted-light-color;
  padding: 1.5rem 1rem 1rem;
  margin: 0.5rem 0rem;
}

@media (max-width: 48em) {
  main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@import "./pages/home";
@import "./pages/pizza";
@import "./pages/cart";
@import "./pages/builder";
@import "./pages/pizzas";
@import "./pages/delivery";
@import "./pages/pay";
@import "./pages/orders";
@import "./pages/not_found";
